h1{
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color:blue;
    text-align: center;
}
img{
    height:250px;
    width:300px;
    display:inline;
    border:2px solid black;
    margin:10px;
}
a{
    color:brown;
    display:block;
    margin:20px;
    
}
h3{
    color: blue;
    text-align: center;
}
*{
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

#block{
    display: inline-block;
    margin: auto;
    padding:20px;
    
}